a{
    font-family: 'Handlee', cursive;
    font-size: 32px;
    color: #13005A;
    text-decoration: none;
}

.about-me{
    margin-top: 0;
    font-family: serif;
    position: absolute;
    top: 67px;
    left: 525px;
}
.about-paragraph{
    margin-top: 0;
    position: absolute;
    left: 520px;
    top: 125px;
    font-size: 30px;
    color: darkslategray;
    line-height: 67px;
    font-family: 'Handlee', cursive;
}
body{
    margin-top: 0;  
    margin-left: 0; 
}
.channel-name{
    position: absolute;
    top: 562px;
    left: 208px;
}
.codechef-logo{
    width: 248px;
    height: 202px;
    position: absolute;
    top: 475px;
    left: 522px;
}
.codechef-profile{
    position: absolute;
    left: 779px;
    top: 563px;
}
.first-row{
    position: relative;
    background-color: #B9F3FC;
    height: 680px;
}
.second-row{
    position: relative;
    background-color: #F9F5E7;
    height: 680px;
}
.first-cloud{
    width: 190px;
    height: 190px;
    position: absolute;
    left: 220px;
    top: 231px;
}

.linkdin-logo{
    width: 87px;
    position: absolute;
    top: 533px;
    left: 985px;
}
.linkdin-profile{
    position: absolute;
    top: 562px;
    left: 1093px;
}
.second-cloud{
    width: 190px;
    height: 190px;
    position: absolute;
    top: 138px;
    left: 1019px;
}
.mountain-image{
    width: 415px;
    height: 415px;
    position: absolute;
    left: 500px;
    bottom: 0px;
}
.himyself{
    font-family: serif;
    font-size: 70px;
    position: absolute;
    left: 566px;
}
.myname{
    margin-top: 17px;
    position: absolute;
    top: 115px;
    left: 621px;
    font-size: 33px;
    font-family: 'Handlee', cursive;
}
.personal-image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    top: 106px;
    left: 78px;
}
.youtube-logo{
    width: 100px;
    position: absolute;
    left: 89px;
    top: 534px;
}